<form role="form" class="form-horizontal" id="user-form-data">
    <input type="hidden" id="user_id" name="id">

    <div class="form-group">
        <label for="user_email" class="col-lg-4 control-label">{{ "Login email"|trans }}</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="email" id="user_email" placeholder="{{ "Login email"|trans }}">
        </div>
    </div>

    <div class="form-group">
        <label for="first_name" class="col-lg-4 control-label">{{ "Vezetéknév"|trans }}</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="first_name" id="user_first_name" placeholder="{{ "Vezetéknév"|trans }}">
        </div>
    </div>

    <div class="form-group">
        <label for="last_name" class="col-lg-4 control-label">{{ "Keresztnév"|trans }}</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control" name="last_name" id="user_last_name" placeholder="{{ "Keresztnév"|trans }}">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-lg-4 control-label">{{ "Jelszó"|trans }}</label>
        <div class="col-lg-8">
            <input type="password" class="input-sm form-control validate[required,minSize[6],maxSize[50]]" name="password" id="password" placeholder="{{ "Jelszó"|trans }}">
        </div>
    </div>

    <div class="form-group">
        <label for="confirm_password" class="col-lg-4 control-label">{{ "Jelszó újra"|trans }}</label>
        <div class="col-lg-8">
            <input type="password" class="input-sm form-control validate[required,equals[password]]" name="confirm_password" id="confirm_password" placeholder="{{ "Jelszó újra"|trans }}">
        </div>
    </div>
</form>