{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="page-header">{{ "welcome"|trans }}</h3>
            <p>Working with Slim in MVC environment</p>
        </div>
        <div class="col-lg-12 text-center">
            <a href="{{siteUrl('login')}}" class="btn btn-success">{{ "Belépés"|trans }}</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}